.body {
    width: 320px;
    margin: 40px auto 0;
    position: relative;

    @media (min-width: @tablet-width) {
        width: 768px;
    }

    @media (min-width: @desktop-width) {
        width: 1440px;
    }
}

