.body {
    min-width: 320px;
}

.body__container {
    max-width: @desktop-lg-width;
    margin: 0 auto;
    padding: 0 35px;

    @media (min-width: @tablet-width) {
        padding: 0 78px 0 67px;
    }
}

.team .body__container {

    @media (max-width: @mobile-width-only) {
        padding: 0 46px;
    }
}
