.btn {
    width: 105px;
    margin: 30px auto 70px;
    display: flex;
    justify-content: space-between;
}

.btn p {
    margin: 0;
}

.btn__back,
.btn__forward {
    width: 31px;
    height: 16px;
    border: 1px solid @main-color;
    position: relative;
}

.btn__forward {
    background-color: @main-color;
}

.btn button:focus,
.btn button:hover {
    background-color: @main-color;
}

.btn__back::before,
.btn__forward::before {
    content: "";
    width: 6px;
    height: 6px;
    position: absolute;
    top: 4px;
    left: 11px;
    border: 1px solid @main-color;
    border-top: none;
    border-right: none;
    transform: rotate(45deg);
}

.btn__forward::before {
    transform: rotate(225deg);
    border-color: #fff;
}

.btn__back:focus::before,
.btn__back:hover::before {
    border-color: #fff;
}

