.button {
    display: flex;
    justify-content: space-between;
}

.button__back {
    margin-left: 15px;
}

.button__forward {
    margin-right: 15px;
}

.button__back,
.button__forward {
    margin-top: 31px;
    width: 16px;
    height: 31px;
    border: 1px solid @main-color;
    position: relative;
}

.button__forward {
    background-color: @main-color;
}

.button button:focus,
.button button:hover {
    background-color: @main-color;
}

.button__back::before,
.button__forward::before {
    content: "";
    width: 6px;
    height: 6px;
    position: absolute;
    top: 12px;
    left: 7px;
    border: 1px solid @main-color;
    border-top: none;
    border-right: none;
    transform: rotate(45deg);
}

.button__forward::before {
    transform: rotate(225deg);
    border-color: #fff;
    left: 3px;
}

.button__back:focus::before,
.button__back:hover::before {
    border-color: #fff;
}

// .button__list {
//     width: 80px;
//     height: 80px;
//     background-color: red;
// }

// .button__item {
//     width: 70px;
//     height: 60px;
//     background-color: green;
// }

// .button__link {
//     width: 20px;
//     height: 20px;
//     display: block;
// }