
.copyright {
    opacity: 0.5;

    @media (min-width: @tablet-width) {
        display: flex;
    }

    @media (min-width: @desktop-width) {
        justify-content: space-between;
        margin: 0 auto;
        width: auto;
        padding-top: 25px;
    }
}

.copyright p {
    margin: 0;
}

.copyright__text {
    padding-bottom: 20px;

    @media (min-width: @tablet-width) {
        padding: 0;
        padding-right: 32px;
    }

    @media (min-width: @desktop-width) {
        order: 1;
        padding: 0;
    }
}
