@mobile-sm: 580px;

.direction {
    position: relative;

    background: url(../img/direction_back.png) no-repeat;
    background-position: 0 151px;

    @media (min-width: @tablet-width) {
        background: url(../img/direction_back-tablet.png) no-repeat;
        background-position: 0 -12px;
    }

    @media (min-width: @desktop-width) {
        background: url(../img/direction_back-desktop.png) no-repeat;
        background-position: 126px -80px;
        padding-bottom: 16px;
    }
}

.direction__number {
    @media (min-width: @tablet-width) {
        top: 200px;
    }

    @media (min-width: @desktop-width) {
        top: 424px;
    }
}

// .direction__wrapper {
//     position: relative;
// }

.direction__title {
    text-align: center;
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 20px;

    @media (min-width: @tablet-width) {
        font-size: 21px;
     }

    @media (min-width: @desktop-width) {
        font-size: 30px;
        line-height: 30px;
    }
}

.direction__wrap {
    @media (min-width: @tablet-width) {
        display: grid;
        gap: 24px;
        grid-template-columns: 40% auto;
        // grid-template-rows: 121px;
        grid-template-rows: auto;
        grid-template-areas: "elem1 elem2"
                             "elem1 elem3"
                             "elem1 btn";
    }
}

.direction__list {
    @media (min-width: @mobile-sm) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    @media (min-width: @tablet-width) {
        display: contents;
    }
}

.direction__item {
    margin-bottom: 30px;
    background-color: #fff;

    @media (min-width: @mobile-sm) {
        width: 45%;
    }

    @media (min-width: @tablet-width) {
        width: auto;
        margin-bottom: 0;
    }
}

.direction__item:nth-child(1) {
    grid-area: elem1;

    @media (min-width: @tablet-width) {
        display: flex;
        flex-direction: column;
    }
}

.direction__item:nth-child(2) {
    @media (min-width: @tablet-width) {
        grid-area: elem2;
        display: flex;
    }
}

.direction__item:nth-child(3) {
    @media (min-width: @tablet-width) {
        grid-area: elem3;
        display: flex;
    }
}

.direction__show-more {
    color: @main-color;
    background-color: #fff;
    box-shadow: 0px 4px 25px 0px rgba(142,128,169,.25);
    padding: 10px 0;
    border: none;

    @media (max-width: @mobile-width-only) {
        display: none;
    }

    @media (min-width: @desktop-width) {
        font-size: 12px;
        line-height: 14px;
        padding: 17px 0;
    }
}

.direction__item:not(:nth-child(1)) .direction__pic {
    @media (min-width: @tablet-width) {
        width: 40%;
        flex-shrink: 0;
    }
}

.direction__pic img {
    display: block;
    width: 100%;
}

.direction__container {
    // display: flex;
    position: relative;
    box-shadow: 0px 4px 25px 0px rgba(142,128,169,.25);
    padding: 20px 60px 20px 20px;    

    @media (min-width: @tablet-width) {
        // padding: 24px 42px 0 20px;
        flex-grow: 1;
    }

    @media (min-width: @desktop-width) {
        // padding: 44px 70px 0 46px;
    }
}

.direction__item:nth-child(1) .direction__container {
    @media (min-width: @tablet-width) {
        flex-grow: 1;
    }
}

.direction__item:not(:nth-child(1)) .direction__container {
    @media (min-width: @tablet-width) {
        padding-right: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.direction__description {
    flex-grow: 1;
}

.direction__item:not(:nth-child(1)) .direction__description {
    @media (min-width: @tablet-width) {
        width: 100%;
    }
}

.direction__header {
    font-size: 12px;
    line-height: 12px;

    @media (min-width: @desktop-width) {
        font-size: 16px;
        line-height: 16px;
    }
}

.direction__data {
    max-width: 150px;
    margin: 10px 0;
    line-height: 14px;

    @media (min-width: @desktop-width) {
        font-size: 12px;
        margin: 21px 0;
    }
}

.direction__instructor {
    // margin: 0 0 11px 0;
    color: #E65C7B;
    line-height: 14px;

    @media (min-width: @desktop-width) {
        font-size: 12px;
        // margin-bottom: 24px;
    }
}

.direction__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 43px;
    background-color: @main-color;
    border: none;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;

    @media (min-width: @desktop-width) {
        // width: 64px;
    }
}

.direction__item:not(:nth-child(1)) .direction__btn {
    @media (min-width: @tablet-width) {
        width: 30px;
        height: 20px;
        position: static;

        &::before {
            width: 6px;
            height: $width;
        }
    }
}

.direction__btn::before {
    content: "";
    width: 10px;
    height: 10px;
    // position: absolute;
    // top: 55px;
    // left: 15px;
    transform: rotate(45deg);
    border: 1px solid #fff;
    border-bottom: none;
    border-left: none;

    @media (min-width: @desktop-width) {
        width: 16px;
        height: 16px;
        // top: 86px;
        // left: 20px;
    }
}
