.footer {
    background-color: #8373A1;
    color: #fff;
    font-size: 12px;
    line-height: 20px;
    position: relative;
}

.footer__container {
    padding: 50px 35px 40px;

    @media (min-width: @desktop-width) {
        padding: 0;
    }
}

.footer h4 {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

.footer__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: black !important;

    @media (min-width: @tablet-width) {
        display: grid;
        grid-template-columns: repeat(2, max-content);
        justify-content: unset;
        row-gap: 32px;
        column-gap: 61px;
        margin-bottom: 34px;
    }

    @media (min-width: @desktop-width) {
        color: @main-color;
    }
}

.footer__list li {
    margin-bottom: 20px;
    min-width: 150px;

    @media (min-width: @tablet-width) {
        margin: 0;
    }
}

.footer__appointment {
    padding-bottom: 70px;
}

.footer__address {

    @media (min-width: @tablet-width) {
        margin-right: 61px;
    }

    @media (min-width: @desktop-width) {
        margin: 0;
    }
}


.footer__schedule {

    @media (min-width: @tablet-width) {
        order: 1;
        margin-right: 80px;
    }

    @media (min-width: @desktop-width) {
        margin: 0;
    }
}

.footer_mail {

    @media (min-width: @tablet-width) {
        order: 1;
    }
}
