.footer {
    background-color: #8373A1;
    color: #fff;
    font-size: 12px;
    line-height: 20px;
    padding: 50px 0 0 35px;
}

.footer h4 {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

.footer__list li {
    margin-bottom: 20px;
}