.header {
    // position: absolute;
    // top: 23px;
    // left: 0;
    display: flex;
    justify-content: space-between;
    margin: 0 15px -38px;
}

.header__contacts {
    // width: 305px;
    // display: block;
    // text-align: right;
}

.header__contacts a {
    text-decoration: none;
}