.head__tagline-outer {
    @media (min-width: @tablet-width) {
        display: flex;
        justify-content: center;
    }
}

.head__tagline {
    font-family: "Caveat-Regular";
    font-weight: 400;
    font-size: 18px;
    margin-top: 100px;
    text-align: center;

    @media (min-width: @tablet-width) {
        font-size: 24px;
        margin-top: 113px;
        margin-left: 60px;
        text-align: left;
    }

    @media (min-width: @desktop-width) {
        font-size: 45px;
        line-height: 46px;
        margin-top: 213px;
    }
}

.head__title {
    font-size: 64px;
    line-height: 1;
    text-align: center;
    color: #fff;
    margin: 27px 0 25px;
    font-weight: 400;

    @media (min-width: @tablet-width) {
        font-size: 144px;
    }

    @media (min-width: @desktop-width) {
        font-size: 200px;
        margin: 40px 0;
    }
}

.head__appointment {
    width: 174px;
    margin: 0 auto;
    color: #E65C7B;
    display: flex;
    justify-content: space-between;
    text-align: left;
    line-height: 12px;
    text-decoration: none;

    @media (min-width: @tablet-width) {
        margin-bottom: 57px;
    }

    @media (min-width: @desktop-width) {
        margin-bottom: 131px;
        font-size: 14px;
        width: 260px;
    }
}

.head__appointment span {
    width: 137px;
    padding-top: 2px;

    @media (min-width: @desktop-width) {
        width: 191px;
        font-size: 14px;
        line-height: 20px;
    }
}

.head__appointment-decor {
    width: 30px;
    height: 26px;
    background-color: #E65C7B;
    position: relative;

    @media (min-width: @desktop-width) {
        width: 56px;
        height: 48px;
    }
}

.head__appointment-decor::before {
    content: "";
    width: 6px;
    height: 6px;
    background-color: #E65C7B;
    position: absolute;
    top: 10px;
    left: 10px;
    transform: rotate(45deg);
    border: 1px solid #fff;
    border-bottom: none;
    border-left: none;

    @media (min-width: @desktop-width) {
        width: 16px;
        height: 16px;
        top: 16px;
        left: 16px;
    }
}
