.member {
    display: flex;
    // width: 146px;
    width: 64%;
    padding-left: 15px;
    background-color: #fff;
    box-shadow: 0px 4px 25px 0px rgba(142, 128, 169, .25);

    @media (min-width: @tablet-width) {
        width: 100%;
        padding-left: 34%;
        // justify-content: space-between;

        display: grid;
        // gap: 8px;
        grid-template-columns: 64% auto;
        grid-template-rows: 54% auto;
        // grid-template-areas:
        // "elem1 elem2"
        // "elem1 elrem3";
        // // "elem1 btn";
    }

    @media (min-width: @desktop-width) {
        // width: 399px;
        padding-left: 141px;
        justify-content: space-between;
    }
}

.member__wrapper {
    
    @media (min-width: @tablet-width) {
        margin-top: 10px;
        display: block;
        // width: 44%;
    }
}

.member__list {

    @media (min-width: @tablet-width) {
        display: flex;
        margin: 10px 0 0 10px;
    }
}

.member__item {
    margin-top: 18px;

    @media (min-width: @tablet-width) {
        margin: 0;
    }
}

.member__item:nth-child(1) svg {
    
    @media (min-width: @tablet-width) {
        width: 8px;
        height: 5px;
        margin-right: 7px;
    }

    @media (min-width: @desktop-width) {
        width: 13px;
        height: 8px;
        margin-right: 11px;
    }
}

.member__item:nth-child(2) svg {
    
    @media (min-width: @tablet-width) {
        width: 9px;
        height: 6px;
    }

    @media (min-width: @desktop-width) {
        width: 15px;
        height: 10px;
    }
}

.member-name {
    margin: 14px 20px 10px 0;
    color: #E65C7B;

    @media (min-width: @tablet-width) {
        // margin: 0 0 6px 0;
        margin: 0;
    }

    @media (min-width: @desktop-width) {
        margin: 19px 0 9px;
    }
}

.member-type {
    margin: 0;

    @media (min-width: @tablet-width) {
        // margin-bottom: 8px;
        // margin-top: 6px;
    }

    @media (min-width: @desktop-width) {
        margin-bottom: 17px;
    }
}