.number {
    display: none;

    @media (min-width: @tablet-width) {
        display: flex;
        position: absolute;
        color: @main-color;
        font-size: 18px;
        font-weight: 700;
        opacity: 0.5;
        right: 0px;
        align-items: center;
    }

    @media (min-width: @desktop-width) {
        font-size: 30px;
    }
}

.number::after {
    content: "";
    width: 18px;
    height: 1px;
    background-color: @main-color;
    left: 0px;
    
    @media (min-width: @tablet-width) {
        width: 20px;
        margin-left: 10px;
    }

    @media (min-width: @desktop-width) {
        width: 40px;
        margin-left: 20px;
    }
}
