.subscription {
    margin: 70px 0 0 0;
    position: relative;
}

.subscription__title {
    font-size: 18px;
    line-height: 20px;
    text-align: center;
}

.subscription__list {
    display: flex;
    justify-content: space-between;
    margin: 40px 49px 35px;
}

.subscription__period {
    font-size: 12px;
    line-height: 12px;
    color: #E65C7B;
    border: none;
    background-color: #fff;
    cursor: pointer;
    padding: 0;
    position: relative;
}

.subscription__period:nth-child(1):after {
    content: "";
    width: 45px;
    height: 1px;
    background-color: #E65C7B;
    position: absolute;
    bottom: -5px;
    left: 0px;
}

.subscription__period:nth-child(2):after {
    content: "";
    width: 62px;
    height: 1px;
    background-color: #E65C7B;
    position: absolute;
    bottom: -5px;
    left: 0px;
    display: none;
}

.subscription__period:nth-child(3):after {
    content: "";
    width: 65px;
    height: 1px;
    background-color: #E65C7B;
    position: absolute;
    bottom: -5px;
    left: 0px;
    display: none;
}

.subscription__schedule {
    text-align: center;

    background: url(../img/subscription_back.png);

}

.subscription__schedule--halfyear,
.subscription__schedule--year {
    display: none;
}

.subscription__schedule li {
    width: 250px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0px 4px 25px 0px rgba(142,128,169,.25);
    margin-bottom: 30px;
}

.subscription__schedule h4 {
    font-size: 12px;
    line-height: 12px;
    padding-top: 30px;
}

.subscription__time {
    margin: 20px 0;
    color: #E65C7B;
}

.subscription__price {
    font-size: 18px;
    line-height: 20px;
    font-weight: bold;
    margin: 0 0 25px 0;
}

.subscription__btn {
    width: 148px;
    background-color: #8E80A9;
    border: none;
    color: #fff;
    line-height: 10px;
    padding: 12px 20px;
    margin-bottom: 30px;
}

.subscription__decoration {
    width: 307px;
    height: 274px;
    background: url(../img/yoga_4.png) no-repeat;
    background-position: 0 0px;

    position: absolute;
    bottom: -108px;
    left: 13px;
    z-index: -1;
}