.team {
    position: relative;
    background: url(../img/team_back.png) no-repeat;
    background-position: 0 -14px;

    @media (min-width: @tablet-width) {
        padding-bottom: 137px;

        background: url(../img/team_back-tablet.png) no-repeat;
        background-position: 0 -2px;
    }

    @media (min-width: @desktop-width) {
        background: url(../img/team_back-desktopp.png) no-repeat;
        background-position: 810px 0px;
        padding-bottom: 141px;
    }
}

.team__wrapper {
    position: relative;
}

.team__number {
    @media (min-width: @tablet-width) {
        // top: 224px;
    }

    @media (min-width: @desktop-width) {
        // top: 340px;
    }
}

.team__title {
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    margin-bottom: 40px;

    @media (min-width: @tablet-width) {
        margin: 0 auto 76px;
        font-size: 21px;
    }
    @media (min-width: @desktop-width) {
        margin-bottom: 120px;
        font-size: 30px;
    }
}

.team__container {
    position: relative;

    @media (min-width: @tablet-width) {
        display: grid;
        grid-template-columns: 2.5fr 3fr;
        grid-template-rows: 460px auto;
        column-gap: 40px;
    }
}

.team__slider {
    padding: 0 11px;
    width: 100%;
    min-width: 0;

    @media (min-width: @tablet-width) {
        padding: 0;
    }
    
    .swiper {
        // width: 100%;
        padding: 20px;
        margin: -20px;

        @media (min-width: @tablet-width) {
            height: 100%;
        }
    }

    .swiper-slide-active {
        // @media (min-width: @tablet-width) {
        //     background-color: #E65C7B;
        // }
    }
}

.team__slider-thumbs {
    padding: 0 11px;
    min-width: 0;

    @media (min-width: @tablet-width) {
        padding: 0;
    }

    .swiper {
        width: 100%;

        @media (min-width: @tablet-width) {
            height: 100%;
        }
    }

    .swiper-slide {
        @media (min-width: @tablet-width) {
            overflow-y: auto;

            &::-webkit-scrollbar {
                width: 8px;
            }

            &::-webkit-scrollbar-thumb {
                background-color: @main-color;
                border-radius: 4px;   
            }
        }
    }
}

.team__list {
    width: 100%;
    padding-left: 14px;

    @media (min-width: @tablet-width) {
        width: 43%;
    }
}

.team__item {

    @media (min-width: @desktop-width) {
        font-size: 12px;
        line-height: 20px;
    }
}

.team__item:nth-child(2),
.team__item:nth-child(3) {
    display: none;

    @media (min-width: @tablet-width) {
        display: flex;
    }
}

.team__card {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 25px;

    position: relative;

    @media (min-width: @tablet-width) {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 102px;
        padding: 0;
    }

    @media (min-width: @desktop-width) {
        margin-bottom: 89px;
    }
}

.team__item:nth-child(3) .team__card {

    @media (min-width: @tablet-width) {
        margin-bottom: 0;
    }
}

.team__pic {
    width: 36%;

    @media (min-width: @tablet-width) {
        display: block;
        width: 92px;
        height: 92px;
        grid-column-start: 1;
        grid-column-end: -1;
        grid-row-start: 1;
        grid-row-end: -1;
        z-index: 1;
    }

    @media (min-width: @desktop-width) {
        bottom: 17px;
        left: -23px;
    }
}

.team__pic img {
    display: block;
    width: 100%;
}

.team__member {
    width: 64%;

    @media (min-width: @tablet-width) {
        width: auto;
        grid-column-start: 1;
        grid-column-end: -1;
        grid-row-start: 1;
        grid-row-end: -1;
        align-self: end;
        margin-left: 16px;
    }
}

.team__view {
    display: none;

    @media (min-width: @tablet-width) {
        display: block;
        grid-column: 2;
    }

    @media (min-width: @desktop-width) {
        bottom: 20px;
        right: 26px;
    }
}

.team__information {
    @media (min-width: @tablet-width) {
    }

    @media (min-width: @desktop-width) {
    }
}

.team__instructor {
    display: none;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    margin: 0;

    @media (min-width: @tablet-width) {
        display: block;
    }

    @media (min-width: @desktop-width) {
        font-size: 18px;
    }
}

.team__exp {
    color: #E65C7B;
    margin-bottom: 20px;

    @media (min-width: @tablet-width) {
        font-size: 12px;
        margin: 0 0 15px;
    }

    @media (min-width: @desktop-width) {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 24px;
    }
}

.team__inf {
    margin: 0 auto;

    @media (min-width: @tablet-width) {
        margin: 0;
        width: auto;
    }

    @media (min-width: @desktop-width) {
        font-size: 12px;
    }
}

.team__inf li {
    margin-bottom: 6px;

    @media (min-width: @tablet-width) {
        margin-bottom: 14px;
        padding-right: 2px;
    }

    @media (min-width: @desktop-width) {
        padding: 0;
        margin-bottom: 28px;
        line-height: 20px;
    }
}

.team__inf-hidden {
    display: none;

    @media (min-width: @tablet-width) {
        display: inline;
    }
}

.team__inf-hidden--tablet {
    display: none;

    @media (min-width: @tablet-width) {
        display: inline;
    }

    @media (min-width: @desktop-width) {
        display: none;
    }
}

.team__inf-hidden--desktop {
    display: none;

    @media (min-width: @desktop-width) {
        display: inline;
    }
}


.team__pagination {
    position: relative !important;
    top: 0 !important;
    bottom: 0 !important;

    @media (min-width: @tablet-width) {
        width: auto !important;
        font-size: 12px;
        line-height: 20px;
    }
}

.team__btn-wrap {
    @media (min-width: @tablet-width) {
        width: 108px;
        display: flex;
        justify-content: space-between;
        float: right;
        align-items: center;
        margin: 0 auto;
        margin-top: 8px;
    }

    @media (min-width: @desktop-width) {
        width: 156px;
        margin-top: 44px;
    }
}

.team__btn-wrap p {
    margin: 0;

    @media (min-width: @tablet-width) {
        font-size: 12px;
        line-height: 20px;
    }

    @media (min-width: @desktop-width) {
        font-size: 16px;
        line-height: 30px;
    }
}

.team__btn {
    width: 16px !important;
    height: 31px !important;
    border: 1px solid @main-color;
    position: absolute;
    top: 25px !important;
    margin: 0 !important;
    background-color: @main-color;

    &::before {
        content: "";
        width: 6px;
        height: 6px;
        position: absolute;
        top: 50%;
        left: 50%;
        border: 1px solid #fff;
        border-top: none;
        border-right: none;

        @media (min-width: @tablet-width) {
            width: 8px;
            height: 8px;
        }

        @media (min-width: @desktop-width) {
            width: 10px;
            height: 10px;
        }
    }

    &::after {
        display: none;
    }

    @media (min-width: @tablet-width) {
        width: 28px !important;
        height: 20px !important;
        position: relative !important;
        top: 0 !important;
    }

    @media (min-width: @desktop-width) {
        width: 45px !important;
        height: 30px !important;
    }

    &.swiper-button-disabled {
        opacity: 1 !important;
        background-color: transparent;

        &::before {
            border-color: @main-color;
        }
    }
}

.team__btn--back {
    left: -20px !important;

    &::before {
        transform: translate(-50%, -50%) translateX(1px) rotate(45deg);
    }

    @media (min-width: @tablet-width) {
        left: 0 !important;
    }
}

.team__btn--forward {
    right: -20px !important;

    &::before {
        transform: translate(-50%, -50%) translateX(-1px) rotate(225deg);
    }

    @media (min-width: @tablet-width) {
        right: 0 !important;
    }
}
